
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form #form="ngForm" (ngSubmit)="loginData(form)">
        <input type="text" id="login" #email="ngModel" ngModel class="fadeIn second form-control" name="login" placeholder="login">
        <input type="password" id="password" #passw="ngModel" ngModel class="fadeIn second form-control" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>