<table class="table book-class table-bordered table-striped table-dark mt-5 mb-5 col-md-8 offset-2">
    <thead>
      <tr>
        <th scope="col">Books</th>
        <th scope="col">Book Name</th>
        <th scope="col">Author</th>
        <th scope="col">Issue Date</th>
        <th scope="col">Return Books</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of myBooks;index as i">
        <td>{{i+1}}</td>
        <td>{{book.name}}</td>
        <td>{{book.author}}</td>
        <td>{{book.issuedate | date}}</td>
        <td><button class="btn btn-danger" (click)="returnBook(book)">Return</button></td>
      </tr>
    </tbody>
  </table>