<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/help">Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/property">property</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/twoway">Two way</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ng-if">ng-if</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ng-switch">ng-switch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register-page">Reactive Form</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/parent">parent</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/react">React</a>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Assignment
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="form-1">Form-1</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="form-2">Form-2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="form-3">Form-3</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="form-4">Form-4</a>
            </div>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link" routerLink="/login">Login </a>
        <a class="nav-link" routerLink="/register">Register </a>
      </form>
    </div>
  </nav>